// ---------------------------------------------------------- //
/* ==============[ Bulletproof fontface mixin ]============== */

//	Created by Marnu Lombard
//	V1.3.1
//	github.com/MarnuLombard
//
//	Based on Paul Irish's "Bulletproof @fontface"
//	paulirish.com/2009/bulletproof-font-face-implementation-syntax

//	Provided under the MIT Public License
//	opensource.org/licenses/MIT

// ---------------------------------------------------------- //

@mixin font-face($name, $directory: '../fonts/' !default;) {

	@font-face {
		font-family: quote($name);
		src: url('#{$directory}#{$name}.eot');
		src: local('?'),
		 url('#{$directory}#{$name}.woff') format("woff"),
		 url('#{$directory}#{$name}.ttf') format("truetype"),
		 url('#{$directory}#{$name}.svg##{$name}') format("svg");
	}

	@media screen and (max-device-width: 480px) {
		@font-face {
			font-family: quote($name);
			src: url('#{$directory}#{$name}.woff') format("woff"),
			 url('#{$directory}#{$name}.ttf') format("truetype"),
			 url('#{$directory}#{$name}.svg##{$name}') format("svg");
		}

	}
}